/* @credits http://www.inserthtml.com/2012/06/custom-form-radio-checkbox/ */
.checkbox input[type=checkbox] {
  margin-left: 0px;
  display: none;
}
.checkbox label {
  display: inline;
}
.checkbox span {
  user-select: none;
  vertical-align: top;
  padding-left: 0.5em;
}
.checkbox.big span {
  line-height: 36px;
}

.checkbox input[type=checkbox] + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.checkbox input[type=checkbox] + label:active,
.checkbox input[type=checkbox]:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkbox input[type=checkbox]:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.checkbox input[type=checkbox]:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.checkbox.big input[type=checkbox] + label {
	padding: 18px;
}
.checkbox.big input[type=checkbox]:checked + label:after {
	font-size: 28px;
	left: 6px;
}
