<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/index.css">
    {{#>head-block}}
    {{/head-block}}
  </head>
  <body class="{{pageClass}}">
    <div class="content">
    {{#>body}}
    {{/body}}
    </div>
    {{>footer}}
    {{#>script-block}}
    {{/script-block}}
  </body>
</html>
