<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Redirecting...</title>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{redirect_uri}}" />
  </head>
  <body>
    <p><a href="{{redirect_uri}}">Redirect to {{redirect_uri}}</a></p>
  </body>
</html>
