@import 'bootstrap.min.css';

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -30px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 30px;
}
footer {
  padding: 5px 15px;
  color: #aaa;
  float: right;
}

.jumbotron h2 {
  margin-top: 0px;
}

.radio label, .checkbox label {
  user-select: none;
}

.navbar {
  background-color: #fefefe;
  border-bottom: 1px solid #eee;
}
