{{#*inline "body"}}
  {{>navbar}}

  <h1>{{title}}</h1>
  <ul>
    <li>
      <a href="/">/client</a>
    </li>
    <li>
      <a href="/John@doe.com">/John@doe.com</a>
    </li>
    <li>
      <a href="/error">/error</a>
    </li>
    <li>
      <a href="/error/418">/error/418</a>
    </li>
  </ul>
{{/inline}}

{{>base}}