{{#contentFor 'pageStyles'}}
 <link rel="stylesheet" href="/static/css/login.css">
 {{/contentFor}}

<form class="form-login" method="post" action="">
  <h2 class="form-login-heading">Please sign in</h2>
  {{>alert}}
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" __type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" minlength="3" maxlength="254" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" minlength="4" maxlength="32" required>
  {{>input-hidden}}
  <div class="checkbox">
    <label>
      <input id="remember-me" class="big" type="checkbox" name="remember" checked>
      Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
