<div class="container">
  <h1>{{title}}</h1>
  <ul>
    <li><a href="/login">/login</a></li>
    <li><a href="/logout">/logout</a></li>
    <li><a href="/join">/join</a></li>
    <li><a href="/newpass">/newpass</a></li>
    <li><a href="/client">/client</a></li>
    <li><a href="/client/John@doe.com">/client/John@doe.com</a></li>
    <li><a href="/error">/error</a></li>
    <li><a href="/error/500">/error/500</a></li>
  </ul>
</div>
