{{#contentFor 'pageStyles'}}
<style>
.signout {
  margin-right: auto !important;
  margin-left: auto !important;
  float: none;
  text-align: center;
}
</style>
{{/contentFor}}

<div class="container">
  <div class="row">
    <div class="signout col-sm-8 col-md-6">
      <div class="jumbotron">

        <h2 class="signout__header">Sign out from <strong>OAus</strong></h2>

        <form class="signout__form" method="post" action="">
          {{>input-hidden}}

          {{>alert}}

          <p>{{username}} Do you really want to sign out?</p>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign out</button>
        </form>

      </div>
    </div>
  </div>
</div>
