
{{#*inline "body"}}
  <h1>{{title}}</h1>
  <ul>
    <li>
      <a href="/login">/login</a>
    </li>
    <li>
      <a href="/logout">/logout</a>
    </li>
    <li>
      <a href="/join">/join</a>
    </li>
    <li>
      <a href="/error">/error</a>
    </li>
    <li>
      <a href="/error/500">/error/500</a>
    </li>
  </ul>
{{/inline}}

{{>base}}